## Dev tools
.vagrant

## Binaries
*.gz
*.vmlinuz
*.bin.*

## Mayu specific
share/giantswarm-mayu/mayu.0.11.1-linux-amd64/images/*
share/giantswarm-mayu/mayu.0.11.1-linux-amd64/yochu/*
share/giantswarm-mayu/mayu.0.11.1-linux-amd64/clusters

## MacOS
*.DS_Store

tmp/
